.App {
    text-align: center;
    margin-top: 75px;
}

.App h3 {
    display: inline-block;
    padding: 20px;
}

.App h3:hover {
    cursor: pointer;
}

.App h3:hover,
.App h3:active,
.App h3.active {
    color: #ffffff;
}