body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgba(48, 48, 48, 0.96);
  text-transform: uppercase;
  background: linear-gradient(#94ffec, #14adff);
  height: 100vh;
}
